.shopping-cart-section {
  flex: 1;
  height: 70vh;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  min-width: 250px;
}

.shopping-cart-section header {
  background-color: var(--orange-color);
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
}
.shopping-cart-section main {
  background-color: var(--bright-gold-color);
  height: 90%;
}
.shopping-cart-section .cart-main::-webkit-scrollbar {
    display: none;
  }
.cart-main {
  flex-direction: column;
  justify-content: space-between;
}
.cart-main .cart-products {
  height: 70%;
  overflow-y: auto;
}
.product-on-cart {
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  align-items: center;
  min-height: 4rem;
  font-size: var(--small-font-size);
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10pt;
  color: black;
}
.product-on-cart:hover{
  box-shadow: 0px 2px 3px black;
}

.animate {
  animation: test 0.3s linear;
  background-color: var(--warm-gold-color);

}

.animate2 {
    animation: remove 0.3s linear;
    background-color: var(--red-color);
  }

.price{
  justify-content: center;
  align-items: baseline;
}
.price .product-count{
  padding-left: 10px;
}

@keyframes test {
  form {
    transform: scale(1);
    transform:translateY(0)
  }
  to {
    transform: scale(0.9);
    transform:translatey(10px)
  }
}
@keyframes remove {
  form {
    transform: scale(1);
    transform: translatey(0px);
    opacity:1;
  }
  to {
    transform: scale(0.7);
    transform: translatey(-10px);
    opacity:0;
  }
}
.product-on-cart .title {
  word-wrap: break-word;
  width: 30%;
  margin: 5px;
}
.product-on-cart img {
  width: 40px;

  height: 40px;
}

.product-on-cart .remove {
  background-color: var(--red-color);
  color: white;

  border-radius: 50%;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 1.7rem;
  height: 1.7rem;
  top: 40%;
  left: 5px;
  position: absolute;
  transition: all 0.5s linear;
}

.product-on-cart .remove:hover {
  transform: scale(1.2);
  background-color: rgba(255, 0, 0, 0.944);
}
.cart-main .cart-total {
  height: 25%;
  padding: 3px .5rem;
  border-top: 1px solid rgb(172, 172, 172);
}
.line {
  justify-content: space-between;
}
.line * {
  font-size: var( --regular-font-size);
}
.line .text {
  color: var(--shopping-cart-text-color);
  font-weight: 600;
}
.line .number {
  color: var(--shopping-cart-text-darker-color);
}

.shopping-cart-section footer {
  background-color: var(  --warm-gold-color);

  text-align: center;
  min-height: 2rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.shopping-cart-section footer button {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-weight: 400;
}
footer button::before {
  content: "\221A";
  display: inline-block;
  vertical-align: top;
  width: 0.5em;
  height: 1em;
  margin-right: 0.3em;
  text-align: center;
  font-weight: 800;
  color: rgb(0, 0, 0);
}
.span {
  color: red;
}



@media (min-width: 768px) {
  .shopping-cart-section {
    max-width: 20%;
    }

}

