.options-menu {
  position: sticky;
 
  height: 50px;
  right: 10px;
  z-index: 10;
  top: 92vh; 
  width: 300px;
  left: 90vw;
}
.options-button {
  width: 40px;
  height: 40px;
  background-color: var( --warm-gold-color);
  border-radius: 50%;
  position: absolute;
  z-index: 1234;
  right: 0;
}

.dark-mode {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 5px;
  transition: all 0.5s linear;

  /* display: none; */
}

.dark-mode img {
  width: 2rem;
  height: 2rem;
  margin: auto;
  transition: all 0.5s linear;
}
.dark-selceted {
  filter: drop-shadow(0 2px 5px rgb(0, 247, 255));
}
.dark-mode img:hover {
  filter: drop-shadow(0 2px 5px rgb(0, 247, 255));
}
.dark {
  --bright-gold-color: rgb(144, 106, 0);
  --warm-gold-color: rgb(182, 74, 2);
  color: white;
  --body-color: rgb(17, 17, 17);
  --card-body-color: rgb(56, 54, 54);
  --text-color: white;
  --orange-color: rgb(143, 59, 4);
  --red-color: rgba(90, 17, 15, 0.76);
  --red-color-hover: rgba(185, 7, 7, 0.89);

  --black-color: rgb(0, 0, 0);
  --black-opacity-color: rgba(0, 0, 0, 0.5);
  --light-blue-color: rgb(31, 144, 236);
  --purple-color: rgba(77, 14, 54, 0.89);
  --purple-color-hover: rgba(136, 9, 158, 0.959);
  --shopping-cart-text-darker-color: rgb(209, 205, 205);
  --shopping-cart-text-color: rgb(240, 234, 234);
}
.cards-slider {
  background-color:var(--bright-gold-color);
  width: 0%;
  position: absolute;
  right: 60px;
  top: 10px;
 border-radius: 5%;
  transition: all 0.5s linear;
  height:30px;
}
.slider {
  margin: 10px 0;
  display: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: var( --black-opacity-color);
  outline: none;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var( --warm-gold-color);
  cursor: pointer;
}
